{% extends 'base.html' %}
{% block content %}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Mi perfil</h1>
    <p class="lead">Podras editar tu perfil e información bancaria</p>
    <h4>Nombre: {{ user.first_name }}</h4>
    <h4>Apellido: {{ user.last_name }}</h4>
    <h4>Email: {{ user.username }}</h4>
    <h4>Contraseña: {{ user.password }}</h4>
    <h4>Banco: {{ cuenta.banco }}</h4>
    <h4>Tipo de cuenta: {{ cuenta.password }}</h4>
    <h4>Numero de cuenta: {{ cuenta.password }}</h4>
    <h4>Run: {{ cuenta.password }}</h4>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Actualizar</a>
    </p>
</main>

{% endblock %}