{%load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Pollo Loco</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.3/examples/cover/cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Linets</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
        <a class="nav-link" href="{% url 'addFee' %}">Gastos</a>
        <a class="nav-link" href="{% url 'debts' %}">Deudas</a>
        <a class="nav-link" href="{% url 'payments' %}">Pagos</a>
        <a class="nav-link" href="{% url 'consolidate' %}">Consolidar</a>
        <a class="nav-link" href="{% url 'reports' %}">Reportes</a>
        <a class="nav-link" href="{% url 'perfil' %}">{% if user.is_authenticated %} Hola {{ user.username }}!</a>
        {% endif %}
      </nav>
    </div>
  </header>
  {% block content %}
  
  {% endblock %}
  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Trabajo final de topicos II <a href="https://gitlab.com/goplayenjoy/trabajofinal">Repositorio</a>, by <a href="https://github.com/FelipeRiveras1995">@ramonriveras</a>.</p>
      <!-- <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
    </div>
  </footer>
</div>
</body>
</html>