{% extends 'base.html' %}
{% block content %}

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Jekyll v3.8.5">
        <title>Pricing example · Bootstrap</title>
    
        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/pricing/">
    
        <!-- Bootstrap core CSS -->
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    
        <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
    
          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
        </style>
        <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.3/examples/pricing/pricing.css" rel="stylesheet">
</head>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Resumen general</h1>
        <p class="lead">Ten presente el estado financiero, las cuentas claras, conservan la amistad. </p>
      </div>
      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal " style="color:black;">Total pagado</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title" style="color:black;">{{ payed }} </h1>

              <button type="button" class="btn btn-lg btn-block btn-outline-primary"href="#">Agregar pago</button>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal"style="color:black;">Total adeudado</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title" style="color:black;">{{ debt }} </h1>
              
              <button type="button" class="btn btn-lg btn-block btn-primary"href="#">Pagar</button>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal" style="color:black;">Pagos pendientes a aprobar</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title" style="color:black;">{{ debtPayment }} </h1>
              
              <button type="button" class="btn btn-lg btn-block btn-primary"href="#">Aprobar pago</button>
            </div>
          </div>
        </div>

{% endblock %}