
{% extends 'base.html' %}
{% block content %}
{% load thumbnail %}
<section>
        <div class="container">
          <div class="col-lg-9 col-sm-12">
            <div class="well row">
    
              <h3>Bienvenido!</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab, adipisci tempora velit mollitia est consequuntur laborum, ratione delectus quis iure, hic veritatis eligendi molestiae. Fugit porro dignissimos, sequi quam?</p>
              <p class="text-right"><button class="btn btn-primary btn-lg">Inscribete!</button></p>
            </div>
            <div class="row">
              <div class="col-lg-4 aside">
                <div class="row">
                  <div class="col-sm-4 col-lg-12" >      
                    {% thumbnail noticiaDestacada.photo "250x200" crop="center" as im %}
                    <img src="{{ im.url }}" width = "{{ im.width }}" height="{{ im.height }}" >
                    {% endthumbnail %}
                  </div>
                  <div class="col-sm-8 col-lg-12">            
                    <h4>{{noticiaDestacada.title}}</h4>
                    <p class="text-justify">{{noticiaDestacada.content}}</p>
                  </div>
                </div>
                </div>

                
                <div class="col-lg-8">
                  <div class="row">
                    
                    {% for noticia in noticias %}
                    <div class="col-xs-6 col-sm-6 col-lg-4">

                    <div class="col-xs-6 col-sm-6 col-lg-4" >      
                        {% thumbnail noticia.photo "105x63" crop="center" as im %}
                        <img src="{{ im.url }}" width = "{{ im.width }}" height="{{ im.height }}" >
                        {% endthumbnail %}
                    </div>
                    <div class="col-xs-12"
                    <p><a href="/news/detalle/{{ noticia.pk }}">{{ noticia.title}} </a></p>
                    <p><span class="label label-info">{{noticia.category}}</span></p>
                    </div>
                  </div>           
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 visible-lg">
            <img src="http://placehold.it/400x800" alt="" class="img-responsive">
          </div>
        </div>
      </section>
      {% endblock %}


      {% thumbnail item.image "100x100" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}